* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.over-y-hidden {
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}
select {
  outline: none;
}

select:focus {
  outline: none;
  box-shadow: none;
}

select:active {
  outline: none;
  box-shadow: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: ease-out 2s;
}
button:hover {
  transform: scale(1.05);
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.postion-fixed {
  position: fixed;
}
.btn {
  white-space: normal !important;
}
.h-80 {
  height: 80vh;
}
.border-1 {
  border: none;
  border-radius: 10px;
}
.w-90v {
  width: 90%;
}

/* FONTS */
h3 {
  top: 25;
}
.font-paris {
  font-family: "Parisienne", cursive;
}
.font-icon {
  font-size: 1.2rem;
}
.font-gold {
  color: rgb(168, 143, 105);
}
.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.title2 {
  font-size: 2.5rem;
}
.display-number {
  font-size: 1.2rem;
}
.display-2 {
  font-size: 2.8rem;
}
.display-4 {
  font-size: 3rem;
}
.display-5 {
  font-size: 1.6rem;
}
.display-6 {
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 0 2rem;
}
.f-w-700 {
  font-weight: 700;
}

/* BACKGROUDNS */
.bg-gold {
  background-color: rgb(168, 143, 105) !important;
}
.bg-gray {
  background-color: rgba(189, 188, 188, 0.29);
}
/* LÍNEAS Y DECORACIONES */
hr {
  width: 30%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #f0f0f02f,
    #000000b6,
    #000000b6,
    #f0f0f02f
  );
}
.decoration {
  width: 200px;
}
.line {
  padding-top: 1%;
  width: 200px;
}
.ribbon {
  background-color: rgba(189, 188, 188, 0.29);
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  letter-spacing: 2px;
}

/* ANIMATION */
.animate__animated .animate__pulse {
  --animate-duration: 3s;
}
.txt-confirmado {
  color: green;
}
.txt-negado {
  color: #d21717;
}
/* SOBRE */
/* sobre */
.sobre {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* flex-direction: column; */
}
.test-class {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.bg-sobre {
  background-color: #262626;
}
.sobre-abajo {
  position: absolute;
  bottom: 20vh;
  height: 50%;
  z-index: 2;
  min-width: 100%;

  max-width: 100%;
  vertical-align: middle;
}
.sobre-arriba {
  position: absolute;
  bottom: 50vh;
  height: 40vh;
  top: 20vh;
  z-index: 3;
  min-width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.display-7 {
  font-size: 0.6rem;
  letter-spacing: 2px;
  padding: 0 2rem;
  color: #2c2f2b;
  margin-top: 1rem;
}
.padding-4-rem {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.modal-body {
  display: flex !important;
  height: 100% !important;
  flex-direction: column;
}
.principal-name-guest {
  padding-top: 2rem;
  font-size: 2.4rem;
}
.btn-no-asistir {
  margin-top: 0.5rem;
  width: max-content;
  color: #515050 !important;
  border: none;
  background-color: #d7d7d7;
  border-radius: 10px;
  padding: 0.4rem;
}

td {
  border-bottom: solid 1px;
  padding: 0.5rem;
  border-color: inherit;
}
.modal-pases {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1313138c;
  position: fixed;
  font-size: 1rem;
  cursor: pointer;
  z-index: 9;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  box-shadow: none !important;
  transition: none !important;
}
.btn-open {
  box-shadow: none !important;
  transition: none !important;
  position: absolute;
  z-index: 4;
  background-color: rgba(240, 255, 255, 0);
  border: none;
  text-decoration: none;
  width: 100%;
}
.btn-open:focus {
  outline: none;
}
.btn-open img {
  height: 40%;
  width: 40%;
  /* padding-bottom: 4rem; */
}
.display-7 {
  font-size: 0.6rem;
  letter-spacing: 2px;
  padding: 0 2rem;
  color: #2c2f2b;
  margin-top: 1rem;
}
.hide {
  visibility: hidden;
  max-height: 0vw;
}

/* home */
.invitacion {
  width: 100vw;
}
.text-gray {
  color: rgb(150, 148, 148);
}

.home {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      rgba(5, 7, 12, 0.308),
      rgba(5, 7, 12, 0.335)
    ),
    url("../assets/img/foto-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.name {
  width: 60%;
  padding-right: 0;
}

/* audio */
.player-icon {
  font-size: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 100%;
}
.player-btn {
  bottom: 1rem;
  right: 1.2rem;
  position: fixed;
  justify-content: end;
  align-items: flex-end;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  z-index: 9;
}
.player-btn:hover {
  cursor: pointer;
}

.portada-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center;
  margin-bottom: 2rem;
}
/*SECOND SECTION */
.container-date {
  height: min-content;
  max-width: 100%;
  background-image: url("../assets/img/andre-jackson-IXLS59CTgDE-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
}
.container-date .container1 {
  background-color: rgb(255, 255, 255);
  height: 100%;
  padding: 1rem 0;
  min-width: 100%;
}
.container-date .container2 {
  background-image: linear-gradient(
      rgba(5, 7, 12, 0.493),
      rgba(5, 7, 12, 0.335)
    ),
    url("../assets/img/pexels-milan-4639620.jpg");
  height: 60vh;
  width: auto;
  background-color: rgba(0, 0, 0, 0.575);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.container-date .container3 {
  background-color: rgb(255, 255, 255);
  height: min-content;
}
.cuenta-regresiva {
  text-align: center;
  font-size: 1.1rem;
  color: rgba(240, 248, 255, 0.849);
}

/* PHOTO GALLERY SECTION */
.foto-1,
.foto-2,
.foto-3,
.foto-4,
.foto-5,
.foto-6 {
  height: 70vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.foto-1 {
  background-image: url("../assets/img/foto-1.jpg");
}
.foto-2 {
  background-image: url("../assets/img/foto-2.jpg");
}
.foto-3 {
  background-image: url("../assets/img/foto-3.jpg");
}
.foto-4 {
  background-image: url("../assets/img/foto-4.jpg");
}
.foto-5 {
  background-image: url("../assets/img/foto-5.jpg");
}
.foto-6 {
  background-image: url("../assets/img/foto-6.jpg");
}

/* MODAL INVITADOS */
.modal-content {
  max-height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  width: 90%;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.btn-cerrar {
  width: max-content;
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 20px;
  background: #ffffff;
  border: none;
  color: black;
  font-weight: 500;
}
.checkbox-wrapper-53 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-53 .container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.checkbox-wrapper-53 .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: #ccc;
  border-radius: 100%;
  background: #e8e8e8;
  box-shadow: 3px 3px 5px #c5c5c5, -3px -3px 5px #ffffff;
  margin-left: 3px;
}

.checkbox-wrapper-53 .container input:checked ~ .checkmark {
  margin-left: 3px;
  box-shadow: inset 3px 3px 5px #c5c5c5, inset -3px -3px 5px #ffffff;
}

.checkbox-wrapper-53 .checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper-53 .container input:checked ~ .checkmark:after {
  opacity: 1;
}

.checkbox-wrapper-53 .container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #2d6233;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
  transition: all 250ms;
}
.btn-save {
  width: max-content;
  font-weight: 500;
  border-radius: 10px;
  background: #ac9261;
  font-size: 1.2em;
  border: none;
  padding: 0.7em;
  color: white;
}
.btn-save-disabled {
  font-weight: 500;
  border-radius: 10px;
  background: #b6a68d;
  font-size: 20px;
  border: none;
  padding: 0.5em;
  color: rgb(193 193 193);
}
.btn-agendar {
  font-family: cursive;
  margin: 1rem;
  border: none;
  background: #f4f4f4;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
}
.btn-descargar {
  padding: 1rem;
  border: solid 1px #c7c7c7;
  font-size: 1.2rem;
  font-weight: 500;
}
.btn-download {
  background-color: #b9ac87 !important;
  color: white !important;
}
.btn-download-pdf-guest,
.btn-save-guest {
  margin-right: 1rem;
}
.filter-container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background: #efefef;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-descargar:hover {
  background-color: rgb(210, 210, 210);
}
.select-mesas {
  border: solid 1px #a5a5a5;
  padding: 0.2rem;
  text-align: center;
  color: #7d775a;
  font-weight: 600;
  border-radius: 7px;
}
.table-width {
  font-size: 1.1rem;
}
.table-container {
  padding: 1rem;
  width: 100%;
  overflow-x: auto;
}
.guest-table {
  width: 100%;
  min-width: 600px; /* o más según lo necesites */
  border-collapse: collapse;
}

.guest-table th,
.guest-table td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #ccc;
}
.box-add-table {
  flex-direction: column;
  margin-bottom: 2rem;
}
.label-and-select {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* itinerario */
.itinerario {
  height: max-content;
  background-image: linear-gradient(
      rgba(5, 7, 12, 0.277),
      rgba(5, 7, 12, 0.277)
    ),
    url("../assets/img/pexels-milan-4639620.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* Carousel */
.carousel-indicators button {
  box-shadow: none !important;
}
.nuestros-padrinos .carousel-indicators {
  display: none;
}

.icon-img {
  height: 100px;
  width: 30% !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.owl-nav {
  color: rgba(27, 27, 26, 0.575);
  display: flex;
  font-size: 2rem;
  margin-top: 0px !important;
  justify-content: space-between;
}
.owl-container {
  width: 100%;
}
.card {
  background-color: rgba(137, 43, 226, 0);
  width: 100vw;
  height: 50vh;
  border: none;
}
.card-img {
  height: 150px;
  width: 160px;
  padding-bottom: 1rem;
}
.second-section .container2 {
  background-image: linear-gradient(
      rgba(5, 7, 12, 0.493),
      rgba(5, 7, 12, 0.335)
    ),
    url("../assets/img/foto-7.jpg");
  height: 60vh;
  width: auto;
  background-color: rgba(0, 0, 0, 0.575);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
/* ubicación */
.ubicacion {
  height: min-content;
}
.container-ubicaciones {
  width: 70%;
  padding: 1rem;
  margin-top: 2rem;
}
.img-ubicaciones {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* photo-window-phrase */
.window-back {
  height: 40vh;
  max-width: 100%;
  background-image: url("../assets/img/pexels-barbara-ribeiro-8506039.jpg");
  background-size: cover;
  -webkit-background-size: cover; /* Para Safari y Chrome (versiones antiguas) */
  -moz-background-size: cover; /* Para Firefox (versiones antiguas) */
  -o-background-size: cover; /* Para Opera (versiones antiguas) */
  background-repeat: no-repeat;
  background-position: center;
}
/* Dinamic-galery */
.dinamic-galery {
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(rgba(5, 7, 12, 0.37), rgba(5, 7, 12, 0.514)),
    url("../assets/img/collage.png");
  background-size: cover;
  -webkit-background-size: cover; /* Para Safari y Chrome (versiones antiguas) */
  -moz-background-size: cover; /* Para Firefox (versiones antiguas) */
  -o-background-size: cover; /* Para Opera (versiones antiguas) */
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: center;
}
/* NAVBAR */
.navbar-expanded {
  background: rgba(0, 0, 0, 0.498); /* cambia el color cuando está abierto */
  backdrop-filter: brightness(0.5);
  transition: background 0.3s ease;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-transparent .nav-link {
  font-weight: 500;
  transition: color 0.3s ease;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  border-radius: 10px;
  padding-left: 1rem;
  margin-top: 1rem;
}
.navbar-transparent .nav-link:hover {
  color: #908073 !important; /* dorado para resaltar */
}
.navbar-transparent .nav-link {
  font-weight: 500;
  transition: color 0.3s ease;
}
.navbar-transparent .nav-link:hover {
  color: #908073 !important; /* dorado para resaltar */
}
.navbar-scrolled {
  background: rgba(0, 0, 0, 0.7); /* se oscurece al hacer scroll */
  backdrop-filter: blur(10px);
}
.transition-navbar {
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.navbar-hidden {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Visible al hacer scroll hacia arriba */
.navbar-visible {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Para que no se vea al inicio */
.navbar-transparent {
  background: rgba(235, 235, 235, 0.062);
  padding: 1.5rem 0rem;
  backdrop-filter: blur(3px);
  border-bottom: solid 1px rgba(128, 128, 128, 0.383);
}
/* nuestro-inicio */
.nuestro-inicio {
  background-color: rgb(197, 166, 119);
}
.nuestro-inicio img {
  width: 250;
  height: 180px;
  border: solid 2px whitesmoke;
  border-radius: 5px;
}
tr {
  border-color: #eeeeee;
  border-style: solid;
}
/* regalos */
.card-regalos {
  margin: 2rem 0;
  height: max-content;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.568);
  border-radius: 10px;
}
.logo-liverpool {
  width: 150px;
}
.icon-sobre {
  font-size: 5.5rem;
}
.window-regalos {
  height: max-content;
  max-width: 100%;
  background-image: url("../assets/img/pexels-milan-4639620.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* LAST WINDOW */
.marca {
  color: #dbdbdb;
}
.last-window {
  height: 100vh;
  max-width: 100%;
  background-image: url("../assets/img/pexels-olya-kobruseva-4630032.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.last-container {
  height: 4vh;
  width: 100%;
  color: white;
  background-color: rgb(51 51 51 / 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
}

@media (min-width: 470px) {
  .title-principal {
    font-size: 3.5rem;
  }
  .btn-open img {
    height: 30%;
    width: 30%;
  }
  .nuestro-inicio img {
    width: 450px;
    height: 350px;
  }
  .icon-sobre {
    font-size: 7rem;
  }
  .card-img {
    height: 200px;
    width: 160px;
  }
  .logo-liverpool {
    width: 200px;
  }

  .display-2 {
    font-size: 3.5rem;
  }
  .display-5 {
    font-size: 1.3rem;
  }
}

@media (min-width: 760px) {
  .title-principal {
    font-size: 5.5rem;
  }
  .dress-code-img {
    width: 30% !important;
  }
  .btn-download-pdf-guest,
  .btn-save-guest {
    max-width: 200px;
  }

  .display-4 {
    font-size: 3.6rem;
  }
  .table-width {
    font-size: 1.3rem;
    width: 80%;
  }
  .cuenta-regresiva {
    font-size: 1.3rem;
  }
  .owl-container {
    width: 60%;
  }
  .text {
    width: 50%;
  }
  .modal-dialog-cerrar {
    max-width: 30vw !important;
  }
  .container-ubicaciones {
    width: 50%;
    padding: 1rem;
    margin-top: 2rem;
  }
  .nuestro-inicio img {
    width: 600px;
    height: 500px;
  }
  .card-regalos {
    width: 80%;
  }

  .logo-liverpool {
    width: 250px;
    margin-bottom: 2rem;
  }

  .label-and-select {
    width: 100%;
    display: block;
  }
  .display-2 {
    font-size: 4.5rem;
  }
  .display-5 {
    font-size: 1.4rem;
  }
}
@media (min-width: 970px) {
  .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desktop-none {
    display: none;
  }
  .d-flex-desktop {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1020px) {
  .filter-container {
    flex-direction: row;
    padding-bottom: 1rem;
  }

  .name {
    width: 70%;
    padding-right: 0 !important;
  }
  .box-add-table {
    flex-direction: row;
  }
  .btn-download-pdf-guest {
    width: 25%;
  }

  .sobre-arriba {
    bottom: 30;
    top: 0;
    height: 70vh;
    background-position: center;
  }
  .sobre-abajo {
    bottom: 0;
    height: 100vh;
  }
  .card {
    height: 45vh;
  }
  .logo-liverpool {
    width: 250px;
  }
  .owl-container {
    width: 30%;
  }
  .display-2 {
    font-size: 5.5rem;
  }
}
